/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .todo-app {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .todo-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .task-table th,
  .task-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .task-table th {
    background-color: #f4f4f4;
  }
  
  .task-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .task-table tbody tr:hover {
    background-color: #e9ecef;
  }
  

  select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    appearance: none;
    margin-left: 10px;
  }
  select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }