

<div class="todo-app">
  <h1>To-Do List</h1>
  <div class="todo-input">
      <form [formGroup]="todoForm" (ngSubmit)="AddToDoLIstItem()">
          <input type="text" placeholder="Enter a task..." formControlName="Task" required />
          <input type="text" placeholder="Enter an action..." formControlName="Status" required />
          <button type="submit" class="btn-submit form-control">Add Task</button>
        </form>
  </div>
  <table class="task-table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of TodoList">
          <td>{{todo.Task}}</td>
          <td>{{todo.Status}}</td>
          <td>
            <form [formGroup]="todoForm" (ngSubmit)="RemoveToDoLIstItem(todo)">
              <button type="submit" class="btn-submit form-control">Delete</button>
            </form>
          </td>
        </tr>
    </tbody>
  </table>